snippet copyright "Copyright infomation."
Copyright (c) Alibaba Inc. All rights reserved.
$0
endsnippet

snippet authorcreate "Author information."
Created by Yafei Song at `!v strftime("%Y-%m-%d")`.
$0
endsnippet

snippet authormodify "Author information."
Modified by Yafei Song at `!v strftime("%Y-%m-%d")`: $0.
endsnippet
